<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pesquisa de Satisfação</title>
  <style>
      .star-rating {
          direction: rtl;
          display: inline-flex;
          font-size: 2em;
      }

      .star-rating input[type="radio"] {
          display: none;
      }

      .star-rating label {
          color: #ddd;
          cursor: pointer;
          padding: 0 5px;
      }

      .star-rating input[type="radio"]:checked ~ label {
          color: #f5c518;
      }

      .star-rating label:hover,
      .star-rating label:hover ~ label {
          color: #f5c518;
      }
      .desc {
          color: #a8a8a8;
          font-size: 12px;
      }
      textarea {
          border-radius: 5px;
          border: 2px solid #628DB6;
          width: 40%;
          height: 30%;
      }
      button {
          display: inline-block;
          padding: 3px 7px;
          margin: 10px 0;
          font-size: 16px;
          color: #fff;
          text-align: center;
          text-decoration: none;
          border-radius: 5px;
      }
      .button-send {
          background-color: #628DB6 !important;
      }
      .button-send:hover {
          background-color: #346fa8 !important;
      }
      .button-disabled {
          cursor: not-allowed !important;
          opacity: 0.6;
      }
  </style>
</head>
<body>
<h1>Pesquisa de Satisfação</h1>
<p class="desc">Avalie o atendimento prestado no chamado!</p>
<form id="satisfactionForm" action="/feedback_buttons/satisfaction" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="issue_id" value="<%= @issue.id %>">
  <div class="star-rating">
    <input type="radio" id="star5" name="rating" value="5"><label for="star5">&#9733;</label>
    <input type="radio" id="star4" name="rating" value="4"><label for="star4">&#9733;</label>
    <input type="radio" id="star3" name="rating" value="3"><label for="star3">&#9733;</label>
    <input type="radio" id="star2" name="rating" value="2"><label for="star2">&#9733;</label>
    <input type="radio" id="star1" name="rating" value="1"><label for="star1">&#9733;</label>
  </div>
  <br><br>
  <label for="comment">Comentário:</label><br>
  <p hidden="hidden" id="msg-feedback">Antes de enviar sua nota, fale um pouco sobre a sua satisfação com o atendimento?</p>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br><br>
  <button class="button-send" type="submit">Enviar</button>
</form>

<script>
    document.getElementById('satisfactionForm').addEventListener('submit', function(event) {
        const rating = document.querySelector('input[name="rating"]:checked');
        const comment = document.getElementById('comment').value.trim();

        if (!rating) {
            alert('Por favor, realize a avaliação de satisfação.');
            event.preventDefault();
        }

        if (rating && rating.value <= 3 && comment === '' ) {
            event.preventDefault();
        }
    });

    // Função para atualizar o estado do botão com base na classificação e no comentário
    function updateButtonState() {
        const rating = document.querySelector('input[name="rating"]:checked');
        const comment = document.getElementById('comment').value.trim();
        const msgFeedback = document.getElementById('msg-feedback');
        const submitButton = document.querySelector('.button-send');

        if (parseInt(rating.value) > 3 || comment !== '') {
            msgFeedback.setAttribute('hidden', 'hidden');
            submitButton.classList.remove('button-disabled');
            submitButton.disabled = false;
        } else {
            msgFeedback.removeAttribute('hidden');
            submitButton.classList.add('button-disabled');
            submitButton.disabled = true;
        }
    }

    // Adiciona um ouvinte de evento de clique aos elementos de input de classificação
    document.querySelectorAll('input[name="rating"]').forEach(function(input) {
        input.addEventListener('click', updateButtonState);
    });

    // Adiciona um ouvinte de evento de entrada ao textarea para detectar mudanças
    document.getElementById('comment').addEventListener('input', updateButtonState);
</script>
</body>
</html>