<%# if @issue.status.name == 'Aguardando Feedback' && @issue.project_id == 1 #configurar %>
<% if @issue.status.id == 10 && @issue.project_id == 1 #configurar %>
  <style>
      .btn {
          display: inline-block;
          padding: 3px 7px;
          font-size: 16px;
          color: #fff !important;
          text-align: center;
          text-decoration: none;
          border-radius: 5px;
      }
      .button-send {
          background-color: #628DB6 !important;
      }
      .button-send:hover {
          background-color: #346fa8 !important;
      }
      .button-decline {
          background-color: #f65549;
      }
      .button-decline:hover {
          background-color: #fa493c;
      }
      .box-btn {
          margin-bottom: 20px;
      }
  </style>

  <div class="box-btn" id="feedback-buttons">
    <p><strong>Chamado aguardando aprovação:</strong></p>
    <%= hidden_field_tag :issue_id, @issue.id, id: 'issue_id' %>
    <a href="<%= approve_url(issue_id: @issue.id) %>" target="_blank" class="btn button-send">Aprovar</a>
    <a href="<%= declined_url(issue_id: @issue.id) %>" target="_blank" class="btn button-decline">Recusar</a>
  </div>
<% end %>
